@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

.maskVCC {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.vkkCybCarousel ul {
	position: relative;
}

.vkkCybCarousel .itemVCC {
	list-style-type: none;
	position: absolute;
	text-align: center;
}

.itemVCC img {
	max-width: 100%;
	height: auto;
}

.deactiveNavBtn {
	opacity: 0.5;
	cursor: default !important;
}