@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

#nav ul {
	list-style: none;
	position: fixed;
	left: 20px;
}

.parallaxSection {
	width: 100%;
	margin: 0 auto;
}

#first {
	background: url(../assets/parallax/firstBG.jpg) fixed 50% no-repeat;
	height: 600px;
	background-position-y: 0;
}

#second {
	background: url(../assets/parallax/secondBG.jpg) fixed 50% no-repeat;
	height: 1300px;
	overflow: hidden;
}

#third {
	background: url(../assets/parallax/thirdBG.jpg) fixed 50% no-repeat;
	height: 650px;
}

#fourth {
	background-color: #999;
	height: 400px;
}